{% extends 'base.html' %}
{% load widget_tweaks %}

{% block cont %}

<div class="container my-3 mx-2">
    <div class="row mx-2 my-2">
        <div class="col align-self-start">
            <a class ="btn btn-secondary btn-sm"  href="{% url 'memo-list'%}">Cancel</a>
        </div>
        <div class="col-10">
            <h2 class="display-6">Memo - enter details: </h2>
        </div>
    </div>

    <div class="row mx-2 my-2 justify-content-start">
        <div class="col-6">
            <form action="" method="POST">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group my-4">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for e in field.errors%}
                        <span class="help-block">{{ e }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
                
                <input type="submit" class="btn btn-outline-light" value="Create Memo">
            </form>
        </div>    
    </div>
</div>

{% endblock cont %}