{% extends 'base.html' %}

{% block cont %}

<h2> Memo {{ memo.id }} detail:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Category</th>
        <th>Importance</th>
        <th>Created</th>
        <th>Last edited</th>
    </tr>
    <tr>
        <td>{{ memo.id }}</td>
        <td>{{ memo.title }}</td>
        <td>{{ memo.body }}</td>
        <td>{{ memo.category }}</td>
        <td>{{ memo.importance }}</td>
        <td>{{ memo.created|date:'r' }}</td>
        <td>{{ memo.edited_last|date:'r' }}</td>
    </tr>
</table>


{% endblock %}